:root {

  /* Font varieble */
    --title: "Chewy";
    --subtext: "League Spartan";
    --link: "Merriweather";

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.nav-div {
   position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: white;
    
}

.logo-div {
  text-align: center;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.logo-div h1 {
   font-size: 1.4rem;
}

.logo-div p {
  font-style: italic;
}

.user-enter-img {
  width: 60px;
}
.navLinks {
    display: flex;
    align-items: Center;
}

.navLink {
  margin-right: 50px;
  cursor: pointer;
}

.nav-link {
  font-family: var(--subtext);
  font-size: 1.4rem;
}

.nav-link:hover {
   text-decoration: underline;
   font-size: 1.6rem;
}
/* App */

.background-img {
   width: 100%;
}

.main-page {
  width: 100%;
  height: 100%;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading {
   font-size: 4rem;
   font-family: var(--subtext);
}

.main-subheading {
  font-size: 1.2rem;
  margin-top: 10px;
}

.resources-div {
  position: absolute;
  right: 0;
  margin-right: 70px;
  margin-bottom: 100px;
}

.selection {
  text-align: center;
  -webkit-appearance: none; 
  appearance: none;
}
.selection, .AddItem {
  width: 150px;
  height: 50px;
  margin-left: 30px;
  font-size: 1.3rem;
  font-family: var(--title);
  background-color: #708993;
  color: #fff6e1;
  border-width: 2px;
  border-color: #39454A;
  cursor: pointer;
}

.selection:hover , .AddItem:hover {
   background-color: #343f44;
}

.addItemForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #A1C2BD;
  border-style: none;
  border-radius: 10px;
  padding: 50px;
  position: absolute; 
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
}

.addItemsBtns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.addItemsBtns button {
  width: 250px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff6e1;
  font-family: var(--subtext);
  background-color:  #708993;
}

.addItemsBtns button:hover {
  background-color:  #39454A;
}

.addItemForm h1{
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.2rem;
  font-family: var(--title);
  letter-spacing: 2px;
  color: #fff6e1;
}

.addItemForm label{
  font-size: 1.4rem;
  font-family: var(--subtext);
  margin-bottom: 10px;
  margin-top: 10px;
  color: #fff6e1;
}

.addItemForm input {
  height: 40px;
  font-size: 1.2rem;
}

.addItemForm input::placeholder {
  color: #343f444a;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}
